// Brand colors
$brand-primary:                             #009688;
$brand-success:                             #16a085;
$brand-info:                                #3498db;
$brand-warning:                             #e67e22;
$brand-danger:                              #c0392b;

//  Navbar
$navbar-default-color:                      #FFF;
$navbar-default-bg:                         $brand-primary;
$navbar-default-border:                     transparent;

// Navbar links
$navbar-default-link-color:                #FFF;
$navbar-default-link-hover-color:          #EEE;
$navbar-default-link-active-color:         #CCC;
$navbar-default-link-disabled-color:       #AAA;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #444;
$navbar-default-toggle-icon-bar-bg:        #EEE;
$navbar-default-toggle-border-color:       transparent;